h1,
h2,
h5,
ul,
a,
.row {
  color: white;
}
h1 {
  font-size: 50px;
}
a.hover {
  color: blue;
}
h5 {
  padding: 0;
  margin: 1px 0;
}
h5::first-letter {
  text-transform: capitalize;
}
ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}
img {
  max-width: 100%;
}
button {
  margin-top: 5px;
  margin-right: 15px;
}
.number {
  font-size: 65px;
}
.celsius,
.fahrenheit {
  position: relative;
  top: -34px;
  font-size: 30px;
}
.city {
  text-transform: capitalize;
}
.weatherApp {
  border: 1px solid whitesmoke;
  padding: 20px;
  background-image: url(https://i.imgur.com/xlx95Wg.gif);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px auto;
  max-width: 700px;
  border-radius: 5px;
}
.sign {
  color: black;
  text-align: center;
  font-size: 13px;
}
.linkedin,
.github,
.netlify {
  color: #2d5580;
}
